/* todo          Imports                 */
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Chela+One&family=Cormorant+Garamond:ital@1&family=EB+Garamond&family=Lilita+One&family=Lugrasimo&family=Roboto+Mono&display=swap');

/*
font-family: 'Bacasime Antique', serif;
font-family: 'Chela One', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'EB Garamond', serif;
font-family: 'Lilita One', cursive;
font-family: 'Lugrasimo', cursive;
font-family: 'Roboto Mono', monospace;
 */


/*                            navbar CSS                    */
nav {
    display: flex !important;
    justify-content: center !important;
}

.navbar {
    padding: 0 0 !important;
}

.navbar-brand>.brand-img {

    height: 2.3em;
    width: 9em;
}

.navbar-brand {
    margin-right: 0 !important;
}

.nav-container button {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.nav-container {
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    /* box-shadow: 0px 0px 15px 1px  #ffdf00; */
    box-shadow: 0px 0px 10px 1px #FFD700, 0px 0px 6px 1px #ffbb00, 0px 0px 6px 1px #ffc400;
    position: fixed;
    position: fixed;
    z-index: 999999;
    top: 0;
    width: 90%;
}

.navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
}

.navbar-link .nav-link {
    color: black;
    font-family: 'Bacasime Antique', serif;
    /* font-family: 'VT323', monospace; */
    font-weight: bolder;
    font-size: 1.3em;
}

.navbar-nav a {
    text-align: center;
}

.navbar-nav a:hover {
    background-color: #0c0c0cce;
    border-radius: 10px;
}

/*                          End Of Nav CSS                  */

.about-holder {
    height: 65svh;
    background-image: url(../assets/About\ me-pana.svg);
    /* background-image: url(https://www.joshwcomeau.com/_next/image/?url=%2Fimages%2Fshadow-palette%2Fslopes.png&w=3840&q=75); */
    /* background-image: url(https://images.unsplash.com/photo-1611162617213-7d7a39e9b1d7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    /* background-image: url(https://images.unsplash.com/photo-1579567761406-4684ee0c75b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80); */
}

.text-holder {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 65svh;
    width: 100%;
    background: rgba(14, 14, 14, 0.14);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    font-weight: bolder;
}

.text-holder h1 {
    font-family: 'EB Garamond', serif;
    height: max-content !important;
    height: max-content;
    font-size: 5rem;
    margin-top: 3rem;
   color:black;
          
        
}

.text-holder span {
    font-family: 'EB Garamond', serif;
    font-weight: bolder;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    display: block;
    color:black;
}

.text-holder i {
    color:black;

}

/*                   todo     container-01 css */
.about-us-container-01 {
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 28%, rgba(33,32,32,1) 100%);
    color: white; */
    /* background: hsla(222, 66%, 77%, 1);

background: linear-gradient(90deg, hsla(222, 66%, 77%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(222, 66%, 77%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(222, 66%, 77%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9DB4EB", endColorstr="#B9DCF2", GradientType=1 ); */
}

.about-us-container-01 h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 1.5rem;
    font-family: 'Bacasime Antique', serif
}

.about-us-container-01 p {
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    text-align: justify;
    margin-block: 1rem;
}

.about-img-holder-01 {}

.about-img-1,
.about-img-2,
.about-img-3 {
    background-color: rgb(27, 27, 27);
    border-radius: 25px;
    margin-block: 1rem;
    /* background:#FFFFFF ; */
    /* background: linear-gradient(145deg, #FFFFFF, #D2D2D2);
    box-shadow: 9.91px 9.91px 15px #E8E8E8, -9.91px -9.91px 15px #FFFFFF; */

    background-image: url(https://img.freepik.com/free-vector/purple-fluid-background-frame_53876-99020.jpg?size=626&ext=jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.about-img-2 {
    height: 250px;
    width: 100%;
}

/*   todo                    Fun fact CSS */

.fun-fact-holder {
    /* background: linear-gradient(0deg, rgba(0,0,0,1) 28%, rgba(33,32,32,1) 100%); */
    /* background: hsla(313, 39%, 93%, 1);

    background: linear-gradient(90deg, hsla(313, 39%, 93%, 1) 0%, hsla(237, 66%, 72%, 1) 0%, hsla(193, 81%, 84%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(313, 39%, 93%, 1) 0%, hsla(237, 66%, 72%, 1) 0%, hsla(193, 81%, 84%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(313, 39%, 93%, 1) 0%, hsla(237, 66%, 72%, 1) 0%, hsla(193, 81%, 84%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#F4E6F1", endColorstr="#8A8EE7", GradientType=1);
    padding-bottom: 3rem;
    padding-top: 1rem; */
}

.fun-content-holder {}

.fun-content-holder h1 {
    font-size: 3rem;
    font-weight: bolder;
    margin-top: 1.5rem;
    font-family: 'Bacasime Antique', serif;
    text-align: center;
    /* color: #f7ba53; */
    color: rgb(25, 0, 255);
}

.fun-content-holder p {
    text-align: justify;
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    text-align: justify;
    margin-block: 1rem;
    margin-block: 1.4rem;
    /* color: white; */
}

.wrapper {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;

}

.container-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 20%);
    border-radius: 10px;
    font-family: 'EB Garamond', serif;
    background: linear-gradient(145deg, #FFFFFF, #f0eeee);
    box-shadow: 9.91px 9.91px 15px #E8E8E8, -9.91px -9.91px 15px #FFFFFF;


}


.container-loader i {
    font-size: 3.5rem;
    color: blue;
}

.container-loader .num {
    font-size: 2.5rem;
    color: #0000FF;
    font-size: bolder;
}

.container-loader .text {
    font-size: 1.7rem;
    /* color: #f7ba53; */
    color: blue;
    font-weight: bolder;
    margin-block: 1rem;
}

/* todo                        mission CSS                            */
.vision-holder {
    margin-block: 1.5rem;
}

.mission-img {
    margin-top: 1.5rem;
}

.mission-img img {
    width: 100%;
}

.mission-holder {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5rem;
}

.mission-holder h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 1.5rem;
    font-family: 'Bacasime Antique', serif;
    color: blue;
}

.mission-holder i {
    color: blue;
    margin-inline: 1rem;
}

.mission-holder p {

    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    text-align: justify;
    margin-block: 1rem;
}

/* todo                     Brand Purpose CSS                 */
.brand-purpose img {
    height: max-content;
}

.brand-purpose h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-top: 1.5rem;
    font-family: 'Bacasime Antique', serif;
    color: #6640AA;
    text-align: center;
    margin-bottom: 1rem;
}

.brand-purpose p {
    font-family: 'EB Garamond', serif;
    font-size: 1.5rem;
    text-align: justify;
    margin-block: 1rem;
}

.brand-purpose span {
    color: #6640AA;
    font-weight: bold;
}

.third-btn a {
    text-decoration: none;
    color: white;

}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: 2px #00236B solid;
    background: #6640AA;
    border-radius: 25px;
    margin-block: 2.8rem;
}



.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: white;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: white;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #F27F3D;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

/* todo                         footer CSS                       */

.footer {
    background-color: #FFFFFF;
    /* background: linear-gradient(90deg, rgba(249,248,113,1) 10%, rgba(246,220,142,1) 69%); */
}

.footer-holder {
    border-bottom: 2px black solid;
}

.footer-logo {
    margin-inline: 0 !important;
    height: 80px;
}

.footer-logo img {
    height: 60px;
    will-change: scroll-position;
    width: 200px;
    margin-top: 1rem;
    box-shadow: 0px 0px 10px 1px #FFD700, 0px 0px 6px 1px #ffbb00, 0px 0px 6px 1px #ffc400;

}

.description {
    margin-block: 1.5rem;
    overflow: hidden !important;
}

.description h3 {
    text-align: justify;
    font-family: 'EB Garamond', serif;
    font-weight: bolder;
    font-size: 1.6rem;
    height: 65px;
    color: black;
}

.description p {
    text-align: justify;
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    margin-block: 1rem;
}

.links {
    text-align: center;
    margin-top: 2%;
}

.links h3 {
    font-family: 'EB Garamond', serif;
    font-size: 1.8rem;
    height: 45px;
    font-weight: bolder;
}

.links ol {
    padding: 0 !important;
    list-style: none;

}

.links ol li a {
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 1.3rem;
    color: rgb(43, 43, 43);
}

.copyright {
    font-family: 'EB Garamond', serif;
    font-size: 1rem;
    text-align: center;
    margin-top: .4rem;
    font-weight: bold;
}

/* todo                         footer CSS                       */