/*  CSS IMPORTS */

  @import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Lilita+One&family=VT323&display=swap');

  /* font-family: 'Bacasime Antique', serif;
  font-family: 'Lilita One', cursive;
  font-family: 'VT323', monospace; */

/* Global Reset */
* {

    margin: 0;
    padding: 0;
}

/*  End Global Reset */
.header{

    background-color:black !important;
    color: white !important;
}

/*                            navbar CSS                    */
.navbar-brand>.brand-img {

    height: 2.3em;
    width: 9em;
}

.navbar-brand {
    margin-right: 0 !important;
}

.nav-container>button {
    border: none !important;
}

.nav-container {
    background-color: black;
    margin-top:10px;
    border-radius: 20px;
    cursor: pointer;
    /* box-shadow: 0px 0px 15px 1px  #ffdf00; */
    box-shadow: 0px 0px 10px 1px #FFD700,0px 0px 6px 1px #ffbb00,0px 0px 6px 1px #ffc400;
    position:sticky;
    position:-webkit-sticky;
    top : 0;
}

.navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
}

.navbar-link .nav-link {
    color: white !important;
    font-family: 'Bacasime Antique', serif;
    /* font-family: 'VT323', monospace; */
    font-weight: bolder;
    font-size: 1.3em;
}
.navbar-nav a{
    text-align:center;
}
.navbar-nav a:hover{
 background-color:#0c0c0cce;
 border-radius:10px;
}
/*                          End Of Nav CSS                  */


/*  ? Header content CSS */

/* todo  content-holder */

.content-holder{
    height: 75vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../assets/hero-bg-01.gif);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.main-text{
    height:4.5em;
    text-align: center;
    font-family: 'Lilita One', cursive;
    font-size:2em;
}
.sub-text{
    text-align: center;

}
.button{
    height: 3em;
}
.button  a{
  text-decoration: none;
  color: white;
}
.img-holder{
height: 8rem;
background-image: url(../assets/FFFFOUND!\ _\ Sorry!!!.gif);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
position: absolute;
top:75%;
}
/*  todo End Of  content-holder */

/* ? End Of Header Content CSS */