*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.service_banner{
    width: 100%; 
}
.service_banner video{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.service_banner .banner_heading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    padding-top: 60px;
    height: 30px;
    color: aliceblue;
}
.service_banner ol li a{
    text-decoration: none;
    color: antiquewhite;
}
.service_banner ol li{
    color: antiquewhite !important;
    position: relative; 
    padding-top: 49%;
    left: 60%;
}
