*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  text-decoration: none;
}










/* // `xs` returns only a ruleset and no media query
// ... { ... } */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
.why-content{
    top: 75px;
    text-align: center;
    position: absolute;
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    padding: 10px;
  }
 .why-content>h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
 .why-content>p{
    font-size: 20px;
  }
 .img-animation>img{
    /* display: none; */
    /* position: absolute; */
  }
  
  
  /* card flip*/
  html {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .text-center {
    text-align: center;
  }
  
  .color-white {
    color: #fff;
  }
  
  .box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 35px 15px; */
    width: 100%;
    padding-left: 24px;
  }
  
  @media screen and (min-width:767.98px) {
    .box-container {
      flex-direction: row;
    }
  }
  
  .box-item {
    position: relative;
    backface-visibility: hidden;
    width: 350px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-box-front,
  .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 480px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box .inner {
    position: absolute;
    width: 100%;
    /* padding: 60px; */
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    /* top:10%; */
    /* margin-top: 43%  auto !important; */
  }
  .flip-box .flip-box-front .inner{
    margin-top: 14%;
  }
  .flip-box .flip-box-back .inner{
    /* margin-top: 2%; */
  }
  .flip-box .flip-box-back .inner .front-para{
    line-height: 20px;
  }
  .flip-box .flip-box-back .inner .back-para{
    font-size: 15px;
    line-height: 19px;
  }
  
  .flip-box-img {
    margin-top: 25px;
    width:100px;
  } 
  /* .flip-box-back .inner > .flip-box-button{
    font-size: 18px;
  } */
  
  
  .flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 1px; */
    margin-bottom: 10px;
    padding: 7px 10px;
    text-transform: uppercase;
  }
  
  
  
  
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
.why-content{
  top: 75px;
  text-align: center;
  position: absolute;
  backdrop-filter: blur(1.9px);
  -webkit-backdrop-filter: blur(1.9px);
  padding: 10px;
  }
  
 .why-content>h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
 .why-content>p{
    font-size: 20px;
  }
 
  
  /* card flip*/
  html {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .text-center {
    text-align: center;
  }
  
  .color-white {
    color: #fff;
  }
  
  .box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 35px 15px; */
    width: 100%;
  }
  
  @media screen and (min-width:767.98px) {
    .box-container {
      flex-direction: row
    }
  }
  
  .box-item {
    position: relative;
    backface-visibility: hidden;
    width: 350px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-box-front,
  .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 450px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    /* padding: 60px; */
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    /* top: 43%; */
  }
  .flip-box .flip-box-front .inner{
    margin-top: 42%;
    /* padding: 10px; */
  }
  .flip-box .flip-box-back .inner{
    margin-top: 69%;
    /* padding: 10px; */
  }
  
  .flip-box-img {
    margin-top: 25px;
    width:100px;
  }
  .flip-box-back .inner > p{
    font-size: 15px;
  
  } 
  /* .flip-box-back .inner > .flip-box-button{
    font-size: 18px;
  } */
  
  
  .flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 1px; */
    padding: 7px 10px;
    text-transform: uppercase;
  }
  
  
  
  
 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .why-content{
   position: absolute;
   top: 6.5rem;
   left: 1.5rem;
  }
  
 .why-content>h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
 .why-content>p{
    font-size: 20px;
  }
 
  
  /* card flip*/
  html {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .text-center {
    text-align: center;
  }
  
  .color-white {
    color: #fff;
  }
  
  .box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 35px 15px; */
    width: 100%;
  }
  
  @media screen and (min-width:767.98px) {
    .box-container {
      flex-direction: row
    }
  }
  
  .box-item {
    position: relative;
    backface-visibility: hidden;
    width: 350px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-box-front,
  .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 450px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    /* padding: 60px; */
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    /* top: 43%; */
  }
  .flip-box .flip-box-front .inner{
    margin-top: 42%;
    /* padding: 10px; */
  }
  .flip-box .flip-box-back .inner{
    margin-top: 69%;
    /* padding: 10px; */
  }
  
  .flip-box-img {
    margin-top: 25px;
    width:100px;
  }
  .flip-box-back .inner > p{
    font-size: 15px;
  
  } 
  /* .flip-box-back .inner > .flip-box-button{
    font-size: 18px;
  } */
  
  
  .flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 1px; */
    padding: 7px 10px;
    text-transform: uppercase;
  }
  
  
  
  
 }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
.why-content{
  position: absolute;
   top: 6.5rem;
   left: 1.5rem;
}
  
 .why-content>h2{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
  }
 .why-content>p{
    font-size: 20px;
  }
 
  
  /* card flip*/
  html {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .text-center {
    text-align: center;
  }
  
  .color-white {
    color: #fff;
  }
  
  .box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 35px 15px; */
    width: 100%;
  }
  
  @media screen and (min-width:767.98px) {
    .box-container {
      flex-direction: row
    }
  }
  
  .box-item {
    position: relative;
    backface-visibility: hidden;
    width: 350px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-box-front,
  .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 450px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    /* padding: 60px; */
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    /* top: 43%; */
  }
  .flip-box .flip-box-front .inner{
    margin-top: 42%;
    /* padding: 10px; */
  }
  .flip-box .flip-box-back .inner{
    margin-top: 69%;
    /* padding: 10px; */
  }
  
  .flip-box-img {
    margin-top: 25px;
    width:100px;
  }
  .flip-box-back .inner > p{
    font-size: 15px;
  
  } 
  /* .flip-box-back .inner > .flip-box-button{
    font-size: 18px;
  } */
  
  
  .flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 1px; */
    padding: 7px 10px;
    text-transform: uppercase;
  }
  
  
  
  
 }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 
  .why-content{
    position: absolute;
   top: 7rem;
   left: 1.5rem;
  }
 .why-content>h2{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
  }
 .why-content>p{
    font-size: 24px;
  }
 
  
  /* card flip*/
  html {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .text-center {
    text-align: center;
  }
  
  .color-white {
    color: #fff;
  }
  
  .box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 35px 15px; */
    width: 100%;
  }
  
  @media screen and (min-width:767.98px) {
    .box-container {
      flex-direction: row
    }
  }
  
  .box-item {
    position: relative;
    backface-visibility: hidden;
    width: 350px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-box-front,
  .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 450px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    /* padding: 60px; */
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    /* top: 43%; */
  }
  .flip-box .flip-box-front .inner{
    margin-top: 42%;
    /* padding: 10px; */
  }
  .flip-box .flip-box-back .inner{
    margin-top: 69%;
    /* padding: 10px; */
  }
  
  .flip-box-img {
    margin-top: 25px;
    width:100px;
  }
  .flip-box-back .inner > p{
    font-size: 15px;
  
  } 
  /* .flip-box-back .inner > .flip-box-button{
    font-size: 18px;
  } */
  
  
  .flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 1px; */
    padding: 7px 10px;
    text-transform: uppercase;
  }
  
  
  
  
 }


/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  .why-content{
    /* width: 55%; */
    position: absolute;
   top: 19rem;
   left: 1.5rem;
  }
  
  .why-content>h2{
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
  }
 .why-content>p{
    font-size: 29px;
  }
 
  
  /* card flip*/
  html {
    font-family: sans-serif;
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .text-center {
    text-align: center;
  }
  
  .color-white {
    color: #fff;
  }
  
  .box-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 35px 15px; */
    width: 100%;
  }
  
  @media screen and (min-width:767.98px) {
    .box-container {
      flex-direction: row
    }
  }
  
  .box-item {
    position: relative;
    backface-visibility: hidden;
    width: 350px;
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  .flip-box {
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000px;
  }
  
  .flip-box-front,
  .flip-box-back {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 450px;
    -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-front {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-back {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  
  .flip-box .inner {
    position: absolute;
    left: 0;
    width: 100%;
    /* padding: 60px; */
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
    
    transform: translateY(-50%) translateZ(60px) scale(.94);
    -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
    -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
    /* top: 43%; */
  }
  .flip-box .flip-box-front .inner{
    margin-top: 45%;
    /* padding: 10px; */
  }
  .flip-box .flip-box-back .inner{
    margin-top: 69%;
    /* padding: 10px; */
  }
  
  .flip-box-img {
    margin-top: 25px;
    width:100px;
  }
  .flip-box-back .inner > p{
    font-size: 15px;
  
  } 
  /* .flip-box-back .inner > .flip-box-button{
    font-size: 18px;
  } */
  
  
  .flip-box-button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    /* margin-top: 1px; */
    padding: 7px 10px;
    text-transform: uppercase;
  }
  
  
 }